<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="">
        <div class="container">
          <h2 class="main-slogan">"Eat Healthy Today, Feel Better Tomorrow"</h2>
          <div class="sub-container">

            <img class="sub-img" src="https://cdn.shopify.com/s/files/1/0267/7951/6986/files/Puzzle.png?v=1595193403" alt="">

            <h3 class="sub-heading">Why Does Body Fit Exist?</h3>
          </div>
          <div class="special-copy--container">

            <p class="special-copy">We exist in Las Vegas, to help make easier for everyone who is motivated to lead a happy life while still being able to enjoy healty food, fresh and balanced meals</p>
          </div>

          <div class="sub-container">

            <img class="sub-img" src="https://cdn.shopify.com/s/files/1/0267/7951/6986/files/Goal.png?v=1595193404" alt="">

            <h3 class="sub-heading">Goals</h3>
          </div>
          <div class="special-copy--container">
          <p class="special-copy">Our goal is to provide healthy, nutritious meals with the highest quality and freshness.
            So that when you receive them, you can enjoy and taste a dish that exceeds your expectations but at the same time you can continue to lead that balanced life in your diet.</p>
            </div>
        </div>

        <div id="shopify-section-1592369914238" class="shopify-section index-section"><div class="page-width">




          <div class="collection-grid">
            <ul class="grid grid--uniform">

                <li class="grid__item small--one-half medium-up--one-third">


        <div class="collection-grid-item">
          <a href="/collections/custom-meal" class="collection-grid-item__link">

              <div class="collection-grid-item__overlay box ratio-container js lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_180x.jpg?v=1595286887 180w 144h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_360x.jpg?v=1595286887 360w 289h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_540x.jpg?v=1595286887 540w 433h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_720x.jpg?v=1595286887 720w 578h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_900x.jpg?v=1595286887 900w 722h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1080x.jpg?v=1595286887 1080w 866h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1296x.jpg?v=1595286887 1296w 1040h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1512x.jpg?v=1595286887 1512w 1213h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1728x.jpg?v=1595286887 1728w 1386h,









            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4.jpg?v=1595286887 1920w 1540h" data-parent-fit="cover" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_540x.jpg?v=1595286887&quot;);">
              <picture style="display: none;"><source data-srcset="//cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_180x.jpg?v=1595286887 180w 144h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_360x.jpg?v=1595286887 360w 289h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_540x.jpg?v=1595286887 540w 433h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_720x.jpg?v=1595286887 720w 578h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_900x.jpg?v=1595286887 900w 722h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1080x.jpg?v=1595286887 1080w 866h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1296x.jpg?v=1595286887 1296w 1040h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1512x.jpg?v=1595286887 1512w 1213h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1728x.jpg?v=1595286887 1728w 1386h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4.jpg?v=1595286887 1920w 1540h" sizes="428.75px" srcset="//cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_180x.jpg?v=1595286887 180w 144h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_360x.jpg?v=1595286887 360w 289h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_540x.jpg?v=1595286887 540w 433h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_720x.jpg?v=1595286887 720w 578h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_900x.jpg?v=1595286887 900w 722h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1080x.jpg?v=1595286887 1080w 866h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1296x.jpg?v=1595286887 1296w 1040h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1512x.jpg?v=1595286887 1512w 1213h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1728x.jpg?v=1595286887 1728w 1386h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/4.jpg?v=1595286887 1920w 1540h"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="428.75px" src=""></picture></div>
              <noscript>
                <div class="collection-grid-item__overlay" style="background-image: url('//cdn.shopify.com/s/files/1/0267/7951/6986/collections/4_1024x1024.jpg?v=1595286887')"></div>
              </noscript>


            <div class="collection-grid-item__title-wrapper">
              <div class="collection-grid-item__title h3">

                  CUSTOM MEALS

              </div>
            </div>
          </a>
        </div>

                </li>

                <li class="grid__item small--one-half medium-up--one-third">


        <div class="collection-grid-item">
          <a href="/collections/signature-meals" class="collection-grid-item__link">

              <div class="collection-grid-item__overlay box ratio-container js lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_180x.jpg?v=1595286556 180w 144h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_360x.jpg?v=1595286556 360w 289h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_540x.jpg?v=1595286556 540w 433h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_720x.jpg?v=1595286556 720w 578h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_900x.jpg?v=1595286556 900w 722h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1080x.jpg?v=1595286556 1080w 866h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1296x.jpg?v=1595286556 1296w 1040h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1512x.jpg?v=1595286556 1512w 1213h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1728x.jpg?v=1595286556 1728w 1386h,









            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle.jpg?v=1595286556 1920w 1540h" data-parent-fit="cover" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_540x.jpg?v=1595286556&quot;);">
              <picture style="display: none;"><source data-srcset="//cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_180x.jpg?v=1595286556 180w 144h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_360x.jpg?v=1595286556 360w 289h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_540x.jpg?v=1595286556 540w 433h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_720x.jpg?v=1595286556 720w 578h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_900x.jpg?v=1595286556 900w 722h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1080x.jpg?v=1595286556 1080w 866h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1296x.jpg?v=1595286556 1296w 1040h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1512x.jpg?v=1595286556 1512w 1213h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1728x.jpg?v=1595286556 1728w 1386h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle.jpg?v=1595286556 1920w 1540h" sizes="428.75px" srcset="//cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_180x.jpg?v=1595286556 180w 144h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_360x.jpg?v=1595286556 360w 289h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_540x.jpg?v=1595286556 540w 433h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_720x.jpg?v=1595286556 720w 578h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_900x.jpg?v=1595286556 900w 722h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1080x.jpg?v=1595286556 1080w 866h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1296x.jpg?v=1595286556 1296w 1040h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1512x.jpg?v=1595286556 1512w 1213h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1728x.jpg?v=1595286556 1728w 1386h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle.jpg?v=1595286556 1920w 1540h"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="428.75px" src=""></picture></div>
              <noscript>
                <div class="collection-grid-item__overlay" style="background-image: url('//cdn.shopify.com/s/files/1/0267/7951/6986/collections/Salmon_Mango_Chipotle_1024x1024.jpg?v=1595286556')"></div>
              </noscript>


            <div class="collection-grid-item__title-wrapper">
              <div class="collection-grid-item__title h3">

                  SIGNATURE MEALS

              </div>
            </div>
          </a>
        </div>

                </li>

                <li class="grid__item small--one-half medium-up--one-third">


        <div class="collection-grid-item">
          <a href="/collections/by-pound" class="collection-grid-item__link">

              <div class="collection-grid-item__overlay box ratio-container js lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_180x.jpg?v=1595551185 180w 144h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_360x.jpg?v=1595551185 360w 289h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_540x.jpg?v=1595551185 540w 433h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_720x.jpg?v=1595551185 720w 578h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_900x.jpg?v=1595551185 900w 722h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1080x.jpg?v=1595551185 1080w 866h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1296x.jpg?v=1595551185 1296w 1040h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1512x.jpg?v=1595551185 1512w 1213h,
            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1728x.jpg?v=1595551185 1728w 1386h,









            //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound.jpg?v=1595551185 1920w 1540h" data-parent-fit="cover" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_540x.jpg?v=1595551185&quot;);">
              <picture style="display: none;"><source data-srcset="//cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_180x.jpg?v=1595551185 180w 144h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_360x.jpg?v=1595551185 360w 289h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_540x.jpg?v=1595551185 540w 433h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_720x.jpg?v=1595551185 720w 578h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_900x.jpg?v=1595551185 900w 722h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1080x.jpg?v=1595551185 1080w 866h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1296x.jpg?v=1595551185 1296w 1040h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1512x.jpg?v=1595551185 1512w 1213h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1728x.jpg?v=1595551185 1728w 1386h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound.jpg?v=1595551185 1920w 1540h" sizes="428.75px" srcset="//cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_180x.jpg?v=1595551185 180w 144h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_360x.jpg?v=1595551185 360w 289h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_540x.jpg?v=1595551185 540w 433h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_720x.jpg?v=1595551185 720w 578h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_900x.jpg?v=1595551185 900w 722h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1080x.jpg?v=1595551185 1080w 866h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1296x.jpg?v=1595551185 1296w 1040h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1512x.jpg?v=1595551185 1512w 1213h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1728x.jpg?v=1595551185 1728w 1386h, //cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound.jpg?v=1595551185 1920w 1540h"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="428.75px" src=""></picture></div>
              <noscript>
                <div class="collection-grid-item__overlay" style="background-image: url('//cdn.shopify.com/s/files/1/0267/7951/6986/collections/Meals_By_Pound_1024x1024.jpg?v=1595551185')"></div>
              </noscript>


            <div class="collection-grid-item__title-wrapper">
              <div class="collection-grid-item__title h3">

                  MEALS BY POUND

              </div>
            </div>
          </a>
        </div>

                </li>

            </ul>
          </div>


        </div>




        </div>

        <div class="black-banner">
          <h3>Orders for Delivery Monday, you can order Sunday before 12:00pm</h3>
          <h3>Orders for Delivery Thursday, you can order Wednesday before 2:00pm</h3>
          </div>
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
